@import url('https://fonts.googleapis.com/css?family=Saira');

body {
	color: #424249;
	background-color: #e9e7e0;
	font-family: 'Saira', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import '~normalize.css/normalize.css';
